@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* colors
#465775
*/

 {
  border: 1px solid;
}

body {
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #f8f7ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #435058;
  padding: 8px 200px;
}

.left-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  gap: 8px;
}

.right-header ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #f8f7ff;
}

.header-links {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: 16px;
}

.icon img {
  display: flex;
  width: 36px;
  border-radius: 50%;
  border: 2px solid #f8f7ff;
}

.intro {
  background-color: #435058;
  display: flex;
  padding: 100px 200px;
  justify-content: space-between;
}

.big {
  font-size: 48px;
  font-weight: 900;
}

.small {
  font-size: 24px;
}

.contact a {
  background-color: #b4869f;
  border: none;
  display: flex;
  padding: 12px;
  margin: 0;
  border-radius: 1000px;
  width: 100px;
  justify-content: center;
}

.big,
.small,
.contact,
.about {
  padding: 8px 0px;
  max-width: 500px;
}

.intro-image img {
  width: 400px;
  border-radius: 5%;
}

.info {
  background-color: #f8f7ff;
  color: #435058;
  text-align: center;
  padding: 50px 200px;
}

.info-text {
  font-size: 36px;
  font-weight: 900;
  justify-content: center;
  padding-bottom: 48px;
  margin: 0;
  display: flex;
}

.card {
  max-width: 300px;
  justify-content: space-between;
}

.card-text {
  padding: 8px;
  font-size: 16px;
  padding-top: 12px;
}
.container {
  display: flex;
  padding: 0px 50px;
  justify-content: space-between;
  gap: 48px;
}

.card img {
  width: 200px;
  border-radius: 12%;
}

.quote-body {
  background-color: #435058;
  padding: 100px 200px;
}

.quote {
  font-size: 48px;
  text-align: center;
  font-style: italic;
  padding: 24px;
  justify-content: start;
}

.quote-person {
  text-align: end;
  font-weight: bold;
  font-size: 16px;
}
